labels:
  - name: invalid
    labeled:
      issue:
        body: Thank you @{{ issue.user.login }} for suggesting this. Please follow the issue templates and contributing guidelines.
        action: close
      pr:
        body: Thank you @{{ pull_request.user.login }} for suggesting this. Please follow the pull request templates.
        action: close
  - name: wontfix
    labeled:
      issue:
        body: This will not be worked on, but I appreciate your contribution.
        action: close
    unlabeled:
      issue:
        action: open
  - name: duplicate
    labeled:
      issue:
        body: This issue already exists.
        action: close
      pr:
        body: This issue already exists.
        action: close
    unlabeled:
      issue:
        body: My apologies. This isn't a duplicate (anymore).
        action: open
      pr:
        body: My apologies. This isn't a duplicate (anymore).
        action: open
  - name: can't reproduce
    labeled: 
      issue: 
        body: | 
          Sorry @{{ issue.user.login }}, I can't reproduce your issue. Please give more information (e.g. screenshots)
          or investigate if the problem/issue still occurs.
    unlabeled: 
       issues: 
         body: My apologies. I didn't look close enough. I will work on the issue now.
  - name: off-topic
    labeled:
      issue:
        body: |
          This issue has been **LOCKED** because of off-topic conversations!
          Please use our other means of communication for casual chats.
        action: close
        locking: lock
        lock_reason: off-topic
  - name: No Feedback => Closing
    labeled: 
      pr: 
        body: | 
          Sorry @{{ issue.user.login }}, you didn't give feedback in time. That's why this PR already got the "stale" label and now get closed.
        action: close
    unlabeled: 
       pr: 
         body: Ohh. Thanks for your feedback. I will take look at it.
         action: open
